@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

*, ::after, ::after {
  box-sizing: border-box;
}

body {
  background-color: rgba(0, 0, 0, 0.05);
}

.nav-wrapper {
  display: flex;
  width: 100vw;
  background-color: white;
  justify-content: space-around;
  padding: 0 2rem;
}

.nav-links {
  display: flex;
  list-style-type: none;
  width: 250px;
  justify-content: space-around;
  
}

a.nav-title {
 color: #0290ff;
 font-size: 1.5rem;
 text-decoration: none;
 text-transform: uppercase;
 font-family: Montserrat, serif;
 font-weight: bold;
 padding-top: 0.5rem;
}

.nav-item {
text-decoration: none;
color: rgb(154, 152, 152);
font-weight: 700;
font-family: Montserrat, serif;
}

.nav-item.active {
  color: rgb(3, 3, 3);
}
